<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - List users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(users)}">
        <h2>Product List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>userName</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>List</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.customer.firstName}"></td>
                <td th:text="${user.customer.lastName}"></td>
                <td th:text="${user.customer.email}"></td>
                <td><a th:href="${'/user/show/'+user.id}">View user</a> </td>
                <td><a th:href="${'/user/edit/'+user.id}">Edit user</a> </td>
                <td><a th:href="${'/user/delete/'+user.id}">Delete user</a> </td>

            </tr>
        </table>
    </div>
    <a th:href="${'/user/new/'}">Add New user</a>

</div>

</body>
</html>