<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring Core Online Tutorial - Product</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body class="container">
<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <h2>Show Customer</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Customer Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.id}">Customer Id</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">First Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.customer.firstName}">First Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.customer.lastName}">Last Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Email:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.customer.email}">Email</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Phone N°:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.customer.phoneNumber}">Phone</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Address L1:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.customer.billingAddress.addressLine1}">Address L1</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Address L2:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.customer.billingAddress.addressLine2}">Address L2</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">City:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.customer.billingAddress.city}">City</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">State:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.customer.billingAddress.state}">State</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">ZipCode:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.customer.billingAddress.zipCode}">ZipCode</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>