<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Login</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <h2>Login</h2>
            <div>
                <form class="form-horizontal" th:object="${loginForm}" th:action="@{/login}" method="post">

                    <div th:if="${param.error}" class="alert alert-danger">
                        <p>Invalid username and password.</p>
                    </div>

                    <div th:if="${param.logout}" class="alert alert-success">
                        <p>You've been logged out.</p>
                    </div>

                    <div class="form-group" th:class="${param.error} ? 'form-group has-error' : 'form-group'">
                        <label class="col-sm-2 control-label">Username:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="username" id="username"/>
                        </div>
                    </div>

                    <div class="form-group" th:class="${param.error} ? 'form-group has-error' : 'form-group'">
                        <label class="col-sm-2 control-label">Password:</label>
                        <div class="col-sm-10">
                            <input type="password"  class="form-control" name="password" id="password"/>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>